*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(-45deg, #ff1f7c,#1100ff);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-animation: background-animation 10s infinite ease-in-out;
    animation: background-animation 10s infinite ease-in-out;
}
@keyframes background-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.text{
    margin: 40px;
    font-variant: arial;
    
}

h1{
    background: radial-gradient( 100% 100% at 100% 0%, #b443f6 0%, #6273f6 100% );
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

text, p, ul, li {
    margin: 10px;
    color: #fff;
}

.container2 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%; 
}

.centered-btn {
    display: block;
    margin: 10px auto; 
    padding:  10px;
}

.container {
    text-align: center;
    flex-grow: 4;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
    
    background: radial-gradient( 100% 100% at 100% 0%, #ae26fcd4 0%, #4056f9d6 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

button {
    text-align: center;
    max-inline-size: 100%;
    max-width: auto;
    margin: 6px;
    font-size: 20px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #b443f6 0%, #6273f6 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}
button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}
button:active {
    box-shadow: inset 0px 0.1em 0.6em #66b1ef;
    transform: translateY(0em);
}